<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="../../public/css/admin-css/reset.css">
    <link rel="stylesheet" href="../../public/css/admin-css/admin.css">

    <% if (content=='dashboard' ) { %>
        <link rel="stylesheet" href="/public/css/admin-css/dashboard.css" />
        <% } %>
            <% if (content=='products' ) { %>
                <link rel="stylesheet" href="/public/css/admin-css/products.css" />
                <% } %>
                    <% if (content=='add-product' || content=='edit-product' ) { %>
                        <link rel="stylesheet" href="/public/css/admin-css/add-product.css" />
                        <% } %>
</head>

<body>
    <div class="main-wraper">
        <%- include('header') %>
            <section class="container">
                <%- include('aside') %>
                    <article>
                        <% if (content=='dashboard' ) { %>
                            <%- include ('admin-dashboard', {data: data}) -%>
                                <% } %>
                                    <% if (content=='products' ) { %>
                                        <%- include ('admin-products', {data: data}) -%>
                                            <% } %>
                                                <% if (content=='add-product' ) { %>
                                                    <%- include ('admin-add-product', {data: data}) -%>
                                                        <% } %>
                                                            <% if (content=='edit-product' ) { %>
                                                                <%- include ('admin-edit-product', {data: data}) -%>
                                                                    <% } %>
                                                                        <footer class="footer text-center"> 2021 © Ample
                                                                            Admin
                                                                            brought to you by
                                                                            <a
                                                                                href="https://www.wrappixel.com/">hoangpro</a>
                                                                        </footer>
                    </article>
            </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="/public/js/admin-js/base.js"></script>
    <% if (content=='products' || content=='add-product' ) { %>
        <script src="/public/js/admin-js/admin-product.js">
        </script>
        <% } %>
            <% if (content=='edit-product' ) { %>
                <script src="/public/js/admin-js/admin-edit-product.js">
                </script>
                <% } %>

</body>

</html>