<div class="container-content ">
    <div class="name-page ">
        <div class="container-2">
            Thông tin chi tiết
        </div>
    </div>
    <div class="content ">
        <div class="content-main container-2">
            <div class="card-form">
                <form class="form-add" id="form">
                    <div class="form-group">
                        <label class="label-group">
                            Tên Web
                        </label>
                        <div class="input-control">
                            <input type="text" id="name" value="<%= data.webname %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Địa chỉ</label>
                        <div class="input-control">
                            <input type="text" id="address" value="<%= data.address %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="label-group">Email</label>
                        <div class="input-control">
                            <input type="text" id="email" required value="<%= data.email %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group" for="imageSlide">Chọn ảnh slide</label>
                        <div class="input-control">
                            <input type="file" id="imageSlide" multiple="multiple">
                        </div>
                        <div class="slide-preview">
                            <% for(let i=0; i< data.imageSlide.length; i++){ %>
                                <img src="<%= data.imageSlide[i] %>" alt="">
                                <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group" for="imagethongbao">Chọn ảnh thông báo</label>
                        <div class="input-control">
                            <input type="file" id="imagethongbao">
                        </div>
                        <div class="thongbao-preview">
                            <img src="<%= data.thongbao %>" alt="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Phone</label>
                        <div class="input-control">
                            <input type="text" id="phone" required value="<%= data.phone %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Facebook</label>
                        <div class="input-control">
                            <input type="text" id="facebook" required value="<%= data.facebook %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Insta</label>
                        <div class="input-control">
                            <input type="text" id="insta" required value="<%= data.insta %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">youtube</label>
                        <div class="input-control">
                            <input type="text" id="youtube" required value="<%= data.youtube %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Messenger</label>
                        <div class="input-control">
                            <input type="text" id="messenger" required value="<%= data.messenger %>">
                        </div>
                    </div>

                    <div class="button-submit">
                        <button type="submit">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>