<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SONO perfume</title>
    <%- include('supplement/ion-jquery'); -%>
        <link rel="stylesheet" href="../../public/css/page-css/account.css">

</head>

<body>
    <div class="wrapper">
        <%- include('supplement/header', {data: data.info, account: data.account}); -%>
            <div class="container">
                <% if(content==="account" ){ %>
                    <%- include('supplement/account-home', {data: data.info, account: data.account}) -%>
                        <%}%>
            </div>

            <%- include('supplement/footer', {data: data.info}) -%>

                <%- include('supplement/call-mess', {data: data.info}) -%>


    </div>
    <script src="../../public/js/page-js/header-toggle.js"></script>
    <script src="../../public/js/page-js/account.js"></script>

</body>

</html>