<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SONO perfume</title>
    <%- include('supplement/ion-jquery'); -%>
        <%- include('supplement/slick-slider'); -%>
            <link rel="stylesheet" href="../../public/css/page-css/home.css">

</head>

<body>
    <div class="wrapper">
        <%- include('supplement/header', {data: data.info, account: data.account}); -%>
            <section class="slider">
                <div class="container">
                    <div class="slider__show">
                        <div class="image"><img src="<%= data.info.imageSlide[0] %>" alt=""></div>
                        <div class="image"><img src="<%= data.info.imageSlide[1] %>" alt=""></div>
                        <div class="image"><img src="<%= data.info.imageSlide[2] %>" alt=""></div>
                        <div class="image"><img src="<%= data.info.imageSlide[3] %>" alt=""></div>

                    </div>
                </div>
            </section>
            <section class="nam">

                <div class="container">
                    <a href="/products?&gender=Nam">
                        <h1 class="nam__namelist">Top nước hoa nam</h1>
                    </a>

                    <div class="nam__list">
                        <% for(let i=0; i< data.products_nu.length; i++){ %>
                            <%- include("supplement/box-product", {data: data.products_nu[i]}) -%>
                                <%}%>

                    </div>
                </div>
            </section>
            <section class="nam">

                <div class="container">
                    <a href="/products?&gender=Nữ">
                        <h1 class="nam__namelist">Top nước hoa nữ </h1>
                    </a>
                    <div class="nam__list">
                        <% for(let i=0; i< data.products_nu.length; i++){ %>
                            <%- include("supplement/box-product", {data: data.products_nu[i]}) -%>
                                <%}%>
                    </div>
                </div>
            </section>
            <section class="nam">

                <div class="container">
                    <a href="/products?&gender=Unisex">
                        <h1 class="nam__namelist">Top nước hoa unisex</h1>
                    </a>

                    <div class="nam__list">
                        <% for(let i=0; i< data.products_nu.length; i++){ %>
                            <%- include("supplement/box-product", {data: data.products_nu[i]}) -%>
                                <%}%>

                    </div>
                </div>
            </section>
            <section class="thongbao">
                <div class="container">
                    <img src="<%= data.info.thongbao %>" alt="">
                </div>
            </section>
            <%- include('supplement/blogs-1', {data: data}) -%>
                <%- include('supplement/social', {data: data.info}) -%>
                    <%- include('supplement/footer', {data: data.info}) -%>

                        <%- include('supplement/call-mess', {data: data.info}) -%>


    </div>
    <%- include('supplement/popup-product', {data: data.info}) -%>

        <script src="../../public/js/page-js/header-toggle.js"></script>
        <script src="../../public/js/page-js/home-slick.js"></script>
</body>

</html>