<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SONO perfume</title>
    <%- include('supplement/ion-jquery'); -%>
        <%- include('supplement/slick-slider'); -%>
            <link rel="stylesheet" href="../../public/css/page-css/product-detail.css">

</head>

<body>
    <div class="wrapper">
        <%- include('supplement/header', {data: data.info}); -%>
            <section class="breadcrumb">
                <div class="container">
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/products">> Danh sách sản phẩm</a></li>
                        <li>> Chi tiết sản phẩm</li>
                    </ul>
                </div>
                <section class="product-detail">
                    <div class="container">
                        <div class="product-wrap">
                            <div class="product__image">
                                <img src="<%= data.product.image %>" alt="">
                            </div>
                            <div class="product__buy">
                                <h1>
                                    <%= data.product.name %>
                                </h1>
                                <% if(data.product.hot<=10){%>
                                    <div class="buy__star">
                                        <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                        <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                        <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                        <ion-icon name="star-half-sharp" style="color: red;"></ion-icon>
                                        <ion-icon name="star-outline" style="color: red;"></ion-icon>
                                    </div>
                                    <%} else if(data.product.hot<=14){%>
                                        <div class="buy__star">
                                            <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                            <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                            <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                            <ion-icon name="star-sharp" style="color: red;"></ion-icon>

                                            <ion-icon name="star-outline" style="color: red;"></ion-icon>
                                        </div>
                                        <%} else if(data.product.hot<=17){%>
                                            <div class="buy__star">
                                                <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                                <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                                <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                                <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                                <ion-icon name="star-half-sharp" style="color: red;"></ion-icon>

                                            </div>
                                            <%} else{ %>
                                                <div class="buy__star">
                                                    <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                                    <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                                    <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                                    <ion-icon name="star-sharp" style="color: red;"></ion-icon>
                                                    <ion-icon name="star-sharp" style="color: red;"></ion-icon>

                                                </div>
                                                <% }%>
                                                    <div class="buy__brand">
                                                        <span>Thương hiệu: <a href="/products?">
                                                                <%= data.product.thuongHieu %>
                                                            </a></span>
                                                    </div>
                                                    <div class="buy__cost">
                                                        <div class="now__cost">
                                                            <%= data.product.cost %>
                                                        </div>
                                                        <div class="old__cost">
                                                            <%= data.product.oldcost %>
                                                        </div>
                                                    </div>
                                                    <div class="buy__refund">+ <%= data.product.refundcost %>đ vào ví
                                                            SONO <a href="/hoidap/vi-sono-la-gi">
                                                                <ion-icon name="help-circle-outline"></ion-icon>
                                                            </a></div>
                                                    <% if(data.product.status==true){ %>
                                                        <div class="buy__status status-con">Còn
                                                            hàng
                                                        </div>
                                                        <% } else {%>
                                                            <div class="buy__status status-het">Tạm hết chiết
                                                            </div>
                                                            <% } %>

                                                                <div class="buy__gender">Giới tính: <%=
                                                                        data.product.gender %>
                                                                </div>
                                                                <div class="buy__frag">Hương chính: <%=
                                                                        data.product.nhomHuong %>
                                                                </div>
                                                                <div class="buy__opacity"><span>Dung tích chiết:</span>
                                                                    10ml</div>
                                                                <div class="buy__soluong">
                                                                    <span>Số lượng: </span>
                                                                    <input type="number" value="1" class="inp-sl">
                                                                </div>
                                                                <div class="buy_btnmua">
                                                                    <button
                                                                        onclick="handle_mua('<%= data.product.slug %>')">Mua
                                                                        hàng</button>
                                                                </div>
                                                                <div class="buy__full">
                                                                    <div class="full__lienhe">
                                                                        <div class="lienhe">Mua chai full liên hệ:</div>
                                                                        <span>Zalo: <a href="#">0869.800.400</a></span>
                                                                        ||
                                                                        <span>Facebook: <a href="#">Sono
                                                                                perfume</a></span>
                                                                    </div>
                                                                    <% data.product.productFull.forEach((ele)=>{ %>
                                                                        <div class="list__full">
                                                                            <ion-icon name="checkbox-sharp"></ion-icon>
                                                                            <%= ele %>
                                                                        </div>
                                                                        <% }) %>


                                                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="more-info">
                    <div class="container">
                        <div class="tabs">
                            <div class="tab-click">

                                <div class="tab-item active">Chi tiết sản phẩm</div>


                                <div class="tab-item">Sử dụng bảo quản</div>


                                <div class="tab-item">Quy định Vận chuyển</div>
                            </div>

                            <div class="tab">
                                <div class="tab-pane active">
                                    <div>Xuất xứ: <%= data.product.xuatXu %>
                                    </div>
                                    <div>Năm phát hành: <%= data.product.phatHanh %>
                                    </div>
                                    <div>Phong cách:<%= data.product.phongCach %>
                                    </div>
                                    <div>Hương đầu: <%= data.product.huongDau %>
                                    </div>
                                    <div>Hương giữa: <%= data.product.huongGiua %>
                                    </div>
                                    <div>Hương cuối: <%= data.product.huongCuoi %>
                                    </div> <br>
                                    <div>
                                        <%= data.product.mota %>
                                    </div>
                                </div>
                                <div class="tab-pane ">
                                    <div>Các bộ phận như cổ tay, khuỷu tay, sau tai, gáy, cổ trước là những vị trí xịt
                                        để hương tỏa mạnh hơn</div><br>
                                    <div>Tránh dùng tay chà xát hoặc làm khô da bằng những vật dụng khác, điều này phá
                                        vỡ các tầng hương trong nước hoa, khiến nó có thể thay đổi mùi hương hoặc bay
                                        mùi nhanh hơn.</div><br>
                                    <div>Để chai nước hoa cách vị trí cần dùng nước hoa trong khoảng 15-20cm và xịt
                                        mạnh, dứt khoát để mật đổ phủ của nước hoa được rộng nhất, tăng độ bám tỏa trên
                                        da của bạn.</div><br>
                                    <div>Nước hoa có thể bám tốt hay không tốt tùy thuộc vào thời gian, không gian, cơ
                                        địa, chế độ sinh hoạt, ăn uống của bạn, việc sử dụng một loại nước hoa trong
                                        thời gian dài có thể khiến bạn bị quen mùi, dẫn đến hiện tượng không nhận biết
                                        được mùi hương. Mang theo nước hoa bên mình hoặc trang bị những mẫu mini tiện
                                        dụng để giúp bản thân luôn tự tin mọi lúc mọi nơi.</div>

                                </div>
                                <div class="tab-pane ">
                                    <div>Sonoperfume thực hiện lên đơn hàng và thanh toán với hình thức COD (Nhận hàng
                                        thanh toán) hoặc chuyển khoản trước khi Ship.</div><br>
                                    <div>Với các đơn hàng ship Tỉnh, các sản phẩm của bạn sẽ được đóng gói cẩn thận và
                                        kỹ lưỡng, bao gồm nhiều lớp chống sốc, đóng hộp carton và dán keo dính cẩn thận
                                        kèm hóa đơn, đảm bảo các sản phẩm được đến tay khách hàng của chúng tôi một cách
                                        tốt nhất.</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <%- include('supplement/footer', {data: data.info}) -%>

                    <%- include('supplement/call-mess', {data: data.info}) -%>

    </div>
    <%- include('supplement/popup-product', {data: data.info}) -%>
        <script src="../../public/js/page-js/header-toggle.js"></script>
        <script src="../../public/js/page-js/product-detail.js"></script>
</body>

</html>